<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Carrinho de Compras</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Procurar Produtos</h2>
                    <form action="#">
                        <input type="text" placeholder="Procurar produtos...">
                        <input type="submit" value="Procurar">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>R$700.00</ins> <del>R$800.00</del>
                        </div>
                    </div>                 
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Posts Recentes</h2>
                    <ul>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Produto</th>
                                        <th class="product-price">Preço</th>
                                        <th class="product-quantity">Quantidade</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a title="Remover produto" class="remove" href="#">×</a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="img/product-thumb-2.jpg"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">Produto 1</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">R$15.00</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                <input type="button" class="plus" value="+">
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">R$15.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <div class="coupon">
                                                <label for="coupon_code">Coupon:</label>
                                                <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                                                <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                                            </div>
                                            <input type="submit" value="Atualizar Carrinho" name="update_cart" class="button">
                                            <input type="submit" value="Finalizar Compra" name="proceed" class="checkout-button button alt wc-forward">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="cart-collaterals">

                            <div class="cross-sells">
                                <h2>Produtos relacionados...</h2>
                                <ul class="products">
                                    <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                                            <h3>Produto 1</h3>
                                            <span class="price"><span class="amount">R$20.00</span></span>
                                        </a>
                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>
                                    <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-4.jpg">
                                            <h3>Produto 1</h3>
                                            <span class="price"><span class="amount">R$20.00</span></span>
                                        </a>
                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="cart_totals ">
                                <h2>Compra Total</h2>
                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount">R$15.00</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Frete</th>
                                            <td>Grátis</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total da compra</th>
                                            <td><strong><span class="amount">R$15.00</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>