@{

    ViewBag.Title = "Novo usuário";

}
<div class="container">
    <div class="row">

        @using(Html.BeginForm(actionName: "Register", controllerName: "Account", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" })){

        <div id="customer_details" class="col2-set">
            <div class="col-1">
                <div class="woocommerce-billing-fields">
                    <h3>Dados do Usuário</h3>
                    <p id="billing_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                        <label class="" for="billing_country">
                            Pais <abbr title="required" class="required">*</abbr>
                        </label>
                        <select class="country_to_state country_select" id="billing_country" name="billing_country">
                            <option value="">Selecione o país…</option>
                            <option value="BR">Brasil</option>
                        </select>
                    </p>
                    <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                        <label class="" for="billing_first_name">
                            Nome <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="" id="first_name" name="first_name" class="input-text ">
                    </p>
                    <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                        <label class="" for="last_name">
                            Sobrenome <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="" id="last_name" name="last_name" class="input-text ">
                    </p>
                    <div class="clear"></div>

                    <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                        <label class="" for="address">
                            Endereço <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="" id="billing_address_1" name="billing_address_1" class="input-text ">
                    </p>
                    <p id="billing_address_2_field" class="form-row form-row-wide address-field">
                        <input type="text" value="" placeholder="Apartamento, Andar, etc... (opcional)" id="billing_address_2" name="billing_address_2" class="input-text ">
                    </p>
                    <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                        <label class="" for="billing_city">
                            Cidade <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="Cidade" id="billing_city" name="billing_city" class="input-text ">
                    </p>
                    <p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
                        <label class="" for="billing_state">Estado</label>
                        <input type="text" id="billing_state" name="billing_state" placeholder="Estado" value="" class="input-text ">
                    </p>
                    <p id="billing_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                        <label class="" for="billing_postcode">
                            CEP <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="CEP / Código Postal" id="billing_postcode" name="billing_postcode" class="input-text ">
                    </p>
                    <div class="clear"></div>
                    <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                        <label class="" for="billing_email">
                            E-mail <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                    </p>
                    <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                        <label class="" for="billing_phone">
                            Telefone <abbr title="required" class="required">*</abbr>
                        </label>
                        <input type="text" value="" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                    </p>
                    <div class="clear"></div>

                    <div class="create-account">
                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                        <p id="account_password_field" class="form-row validate-required">
                            <label class="" for="account_password">
                                Senha <abbr title="required" class="required">*</abbr>
                            </label>
                            <input type="password" value="" placeholder="Senha" id="account_password" name="account_password" class="input-text">
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        }



    </div>
</div>