@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model BlackYellow.MVC.Models.OrderReportFilters

<h2>Relatório de Vendas</h2>



<div class="panel panel-default">
    <div class="panel-heading">

        <div class="form-inline" style="margin-top: 20px;">

            <div class="">
                <div class="form-inline form-group">
                    <label for="dataInicial">Data Inicial</label>
                    <input id="dataInicial" name="InitDate" class="form-control datepicker" value="@(Model?.InitDate?.ToString("D"))"  />
                </div>

                <div class="form-group form-inline">
                    <label for="dataFinal">Data Final</label>
                    <input id="dataFinal" name="EndDate" class="form-control datepicker" value="@(Model?.EndDate?.ToString("D"))" />
                </div>
            </div>


            @foreach (var item in Enum.GetValues(typeof(BlackYellow.MVC.Models.OrderReportFilters.eStatusOrder)).OfType<BlackYellow.MVC.Models.OrderReportFilters.eStatusOrder>())
            {
                <label class="checkbox-inline">
                    <input type="checkbox" name="Status" value="true" checked="@(Model?.Status?.Contains(item))" />
                    @BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(item)
                </label>
            }




            <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>

    </div>
    <div class="panel-body">

    </div>
</div>
